body{
  background-image: url("../img/Bosque.jpg");
  background-size: cover;
}
.navbar-nav li{
  border-right: 2px solid #000;
}
.navbar-nav li *{
  padding-right: 1vw;
  padding-left: 1vw;
}
li .navbar-text:last-child{
  border-right: none;
  margin-right: 0px;
}
.panel{
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
}
.panel-nombre{
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  color: firebrick;
}
.contenedor-canvas{
  position: relative;
  height: 80vh;
  overflow:hidden;
  border: 4px solid #000000;
  padding: inherit;
}

#img1{
  height: 30vh;
}
.btn-mover{
  width: 100%;
}
.btn-atacar{
  width: 100%;
  margin-top: 5vh;
}
.fila-mov{
  margin-top: 5vh;
}
.col-mov{
  padding-left: inherit;
  padding-right: inherit;
}
#layer1{
   position: absolute;
}
#layer2{
   position: absolute;
}
#layer3{
   position: relative;;
}
