<!DOCTYPE html>
<html>
  <head>
    <title>Dejavu</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <link rel="shortcut icon" type="image/svg" href="static/img/icono.svg"/>
    <link href="static/css/tablero.css" rel="stylesheet">
    <script src="static/js/board.js"></script>

  </head>

  <body>

    <!-- Fila del navbar -->

      <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
        <a class="navbar-brand" href="#">
          <img src="/static/img/ico/{{ jugador.icono }}.png" width="30" height="30" class="d-inline-block align-top" alt="">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                {{ jugador.nombre }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Equipo</a>
                <a class="dropdown-item" href="#">Inventario</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li>
              <span class="navbar-text">
                Turno #{{turno}}
              </span>
            </li>
            <li>
              <span class="navbar-text">
                Tiempo: {{tiempo}}
              </span>
            </li>
            <li>
              <form action="/leave-game" method="get" class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Salir</button>
              </form>
            </li>
          </ul>
        </div>
      </nav>


    <!-- Fila del contenido-->
    <div class="row" style="text-align:center;margin-top: 10vh;">

      <!-- Izquierda -->
      <div class="col-lg-4 panel">

        <!-- Fila superior  -->
        <div class="row">
          <div class="col-lg-12 panel-nombre">
            <h3>{{jugador.nombre}} / {{jugador.avatar.raza}}</h3>
          </div>
        </div>

        <!-- Fila media -->
        <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
            <img id="img1" src="{{ jugador.avatar.imagen }}" class="rounded-circle">
          </div>
          <div class="col-lg-4"></div>
        </div>

        <!-- Fila inferior  -->
        <div class="row">

          <!-- Atributos -->
          <div class="col-lg-6">
            Ataque<br>
             <div class="progress">
               <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar"
               aria-valuenow="{{ jugador.avatar.ataque }}" aria-valuemin="0" aria-valuemax="6" style="width:{{ (jugador.avatar.ataque/6)*100 |int }}%">
                 {{ jugador.avatar.ataque }}
               </div>
            </div>

             Destreza<br>
             <div class="progress">
               <div class="progress-bar progress-bar-striped bg-info progress-bar-animated"
               role="progressbar" aria-valuenow="{{ jugador.avatar.destreza }}"
               aria-valuemin="0" aria-valuemax="6" style="width:{{ (jugador.avatar.destreza/6)*100 |int }}%">
                 {{ jugador.avatar.destreza }}
               </div>
            </div>

             Daño<br>
             <div class="progress">
               <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar"
  aria-valuenow="{{ jugador.avatar.dano }}" aria-valuemin="0" aria-valuemax="6" style="width:{{ (jugador.avatar.dano/6)*100 |int }}%">
                 {{ jugador.avatar.dano }}
               </div>
            </div>

             Defensa<br>
             <div class="progress">
               <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar"
  aria-valuenow="{{ jugador.avatar.defensa }}" aria-valuemin="0" aria-valuemax="6" style="width:{{ (jugador.avatar.defensa/6)*100 |int }}%">
                 {{ jugador.avatar.defensa }}
               </div>
            </div>

             Vida<br>
             <div class="progress">
               <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar"
  aria-valuenow="{{ jugador.avatar.vida }}" aria-valuemin="0" aria-valuemax="{{ jugador.avatar.vidaMax*7 }}" style="width:{{ (jugador.avatar.vida/jugador.avatar.vidaMax)*100 |int }}%">
                 {{ jugador.avatar.vida*7 }}
               </div>
            </div>

             Movimiento<br>
             <div class="progress">
               <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
  aria-valuenow="{{ jugador.avatar.movimiento }}" aria-valuemin="0" aria-valuemax="{{ jugador.avatar.movimientoMax }}" style="width:{{ (jugador.avatar.movimiento/jugador.avatar.movimientoMax)*100 |int }}%">
                 {{ jugador.avatar.movimiento }}
               </div>
            </div>

          </div>

          <!-- Botones movimiento -->
          <div class="col-lg-6">

            <!-- Fila 1 -->
            <div class="row fila-mov">
              <div class="col-lg-4 col-mov">
                <button type="button" class="btn btn-outline-warning btn-mover">&#8662;</button>
              </div>
              <div class="col-lg-4 col-mov">
                <button type="button" class="btn btn-outline-warning btn-mover">&#8657;</button>
              </div>
              <div class="col-lg-4 col-mov">
                <button type="button" class="btn btn-outline-warning btn-mover">&#8663;</button>
              </div>
            </div>

            <!-- Fila 2 -->
            <div class="row">
              <div class="col-lg-4 col-mov">
                <button type="button" class="btn btn-outline-warning btn-mover">&#8656;</button>
              </div>
              <div class="col-lg-4 col-mov">
              </div>
              <div class="col-lg-4 col-mov">
                <button type="button" class="btn btn-outline-warning btn-mover">&#8658;</button>
              </div>
            </div>

            <!-- Fila 3 -->
            <div class="row">
              <div class="col-lg-4 col-mov">
                <button type="button" class="btn btn-outline-warning btn-mover">&#8665;</button>
              </div>
              <div class="col-lg-4 col-mov">
                <button type="button" class="btn btn-outline-warning btn-mover">&#8659;</button>
              </div>
              <div class="col-lg-4 col-mov">
                <button type="button" class="btn btn-outline-warning btn-mover">&#8664;</button>
              </div>
            </div>

            <!-- Fila 4 -->
            <div class="row">
              <div class="col-lg-12">
                <button type="button" class="btn btn-danger btn-atacar">Atacar</button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- Medio -->
      <div id="contenedor-canvas" class="col-lg-8 contenedor-canvas">
         <canvas id="layer1">
        </canvas>
         <canvas id="layer2">
        </canvas>
         <canvas id="layer3">
        </canvas>
      </div>

      <!-- Derecha
      <div class="col-lg-4 panel">
      </div>
      -->
    </div>

  </body>
</html>
