<!DOCTYPE html>
<html>
  <head>
    <title>Dejavu</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    
    <link rel="shortcut icon" type="image/svg" href="static/img/icono.svg"/>
    <link href="static/css/tablero.css" rel="stylesheet"> 
    <script src="static/js/distribution.js"></script>
    <script src="static/js/tiles.js"></script>
    <script src="static/js/morphological.js"></script>
    <script src="static/js/board.js"></script>
    
  </head>
  
  <body onload="crearTablero()">  
    
    <!-- Fila del navbar -->
      
      <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
        <a class="navbar-brand" href="#">
          <img src="/static/img/ico/{{icono}}.png" width="30" height="30" class="d-inline-block align-top" alt="">          
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                {{nombre}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Equipo</a>
                <a class="dropdown-item" href="#">Inventario</a>                
              </div>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li>
              <span class="navbar-text">
                Turno #{{turno}}
              </span>
            </li>
            <li>
              <span class="navbar-text">
                Tiempo: {{tiempo}}
              </span>
            </li>          
            <li>
              <form action="/leave-game" method="get" class="form-inline my-2 my-lg-0">          
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Salir</button>
              </form> 
            </li>
          </ul>
        </div>
      </nav>
    
    
    <!-- Fila del contenido-->
    <div class="row" style="text-align:center;margin-top: 10vh;">
      
      <!-- Izquierda -->
      <div class="col-lg-4 panel">
        
        <!-- Fila superior  -->
        <div class="row">
          <div class="col-lg-12 panel-nombre">
            <h3>Alukard - Vampiro</h3>
          </div>
        </div>
        
        <!-- Fila media -->
        <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
            <img id="img1" src="static/img/tile/Vampiro.png" class="rounded-circle">
          </div>
          <div class="col-lg-4"></div>
        </div>
        
        <!-- Fila inferior  -->
        <div class="row">
          
          <!-- Atributos -->
          <div class="col-lg-6">
            Ataque<br>
             <div class="progress">
               <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" 
               aria-valuenow="3" aria-valuemin="0" aria-valuemax="6" style="width:50%">
                 3
               </div>
            </div>  
            
             Destreza<br>
             <div class="progress">
               <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar"
  aria-valuenow="4" aria-valuemin="0" aria-valuemax="6" style="width:66%">
                 4
               </div>              
            </div> 
            
             Daño<br>
             <div class="progress">
               <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar"
  aria-valuenow="4" aria-valuemin="0" aria-valuemax="6" style="width:66%">
                 4
               </div>              
            </div> 
            
             Defensa<br>
             <div class="progress">
               <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar"
  aria-valuenow="3" aria-valuemin="0" aria-valuemax="6" style="width:50%">
                 3
               </div>              
            </div>
            
             Vida<br>
             <div class="progress">
               <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar"
  aria-valuenow="42" aria-valuemin="0" aria-valuemax="42" style="width:100%">
                 42
               </div>              
            </div>    
            
             Movimiento<br>
             <div class="progress">
               <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
  aria-valuenow="2" aria-valuemin="0" aria-valuemax="6" style="width:33%">
                 2
               </div>              
            </div>             
            
          </div>
          
          <!-- Botones movimiento -->
          <div class="col-lg-6">
            
            <!-- Fila 1 -->
            <div class="row fila-mov">
              <div class="col-lg-4 col-mov">
                <button type="button" class="btn btn-outline-warning btn-mover">&#8662;</button>
              </div>
              <div class="col-lg-4 col-mov">
                <button type="button" class="btn btn-outline-warning btn-mover">&#8657;</button>
              </div>
              <div class="col-lg-4 col-mov">
                <button type="button" class="btn btn-outline-warning btn-mover">&#8663;</button>
              </div>
            </div>
            
            <!-- Fila 2 -->
            <div class="row">
              <div class="col-lg-4 col-mov">
                <button type="button" class="btn btn-outline-warning btn-mover">&#8656;</button>
              </div>
              <div class="col-lg-4 col-mov">
              </div>
              <div class="col-lg-4 col-mov">
                <button type="button" class="btn btn-outline-warning btn-mover">&#8658;</button>
              </div>
            </div>     
            
            <!-- Fila 3 -->
            <div class="row">
              <div class="col-lg-4 col-mov">
                <button type="button" class="btn btn-outline-warning btn-mover">&#8665;</button>
              </div>
              <div class="col-lg-4 col-mov">
                <button type="button" class="btn btn-outline-warning btn-mover">&#8659;</button>
              </div>
              <div class="col-lg-4 col-mov">
                <button type="button" class="btn btn-outline-warning btn-mover">&#8664;</button>
              </div>
            </div>   
            
            <!-- Fila 4 -->
            <div class="row">
              <div class="col-lg-12">
                <button type="button" class="btn btn-danger btn-atacar">Atacar</button>
              </div>           
            </div>   
            
          </div>
        </div>
      </div>
      
      <!-- Medio -->
      <div class="col-lg-8 contenedor-canvas">
         <canvas id="layer1">           
        </canvas> 
         <canvas id="layer2">           
        </canvas>         
         <canvas id="layer3">           
        </canvas>         
      </div>
      
      <!-- Derecha
      <div class="col-lg-4 panel">
      </div>
      -->
    </div>
    
  </body>
</html>