<!DOCTYPE html>
<html>
  <head>
    <title>Dejavu</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <link rel="shortcut icon" type="image/svg" href="static/img/icono.svg"/>
    <link href="static/css/tablero.css" rel="stylesheet">
    <script src="static/js/avatar.js"></script>
    <script src="static/js/board.js"></script>

  </head>

  <body>

    <!-- Fila del navbar -->

      <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
        <a class="navbar-brand" href="#" onclick="verMiAvatar()">
          <img src="/static/img/ico/{{ jugador.icono }}.png" width="30" height="30" class="d-inline-block align-top" alt="">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                {{ jugador.nombre }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                 <a class="dropdown-item" href="#" onclick="verAvatar()">Avatar</a>
                 <a class="dropdown-item" href="#" onclick="verEquipo()">Equipo</a>
                 <a class="dropdown-item" href="#" onclick="verInventario()">Inventario</a>
                 <a class="dropdown-item" href="#" onclick="verPropiedades()">Propiedades</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                Partida
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#" onclick="verJugar()">Jugar</a>
                <a class="dropdown-item" href="#" onclick="verEstado()">Estado</a>
              </div>
            </li>
            <li class="nav-item">
               <span id="tiempo-partida" class="navbar-text">
                 Tiempo Partida: {{tiempoPartida}}
               </span>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
             <li>
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" onclick="centrarCamara()">Centrar</button>
             </li>
             <li>
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" onclick="disminuirTablero()">-</button>
             </li>
             <li>
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" onclick="aumentarTablero()">+</button>
             </li>
            <li>
              <span id="turno" class="navbar-text">
                Turno #{{turno}}
              </span>
            </li>
            <li>
              <span id="tiempo-turno" class="navbar-text">
                Tiempo Turno: {{tiempoTurno}}
              </span>
            </li>
            <li>
              <form action="/leave-game" method="get" class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Salir</button>
              </form>
            </li>
          </ul>
        </div>
      </nav>


    <!-- Fila del contenido-->
    <div class="row" style="text-align:center;margin-top: 8vh;">

      <!-- Izquierda -->
      <div class="col-lg-4 panel panel-izquierda">

        <!-- Fila superior  -->
        <div class="row">
          <div class="col-lg-12 panel-nombre">
            <h3 id="panel-nombre">{{jugador.nombre}} / {{jugador.avatar.raza}}</h3>
          </div>
        </div>

        <!-- Fila media -->
        <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
            <img id="img1" src="{{ jugador.avatar.imagen }}" class="rounded-circle">
          </div>
          <div class="col-lg-4"></div>
        </div>

        <!-- Fila inferior  -->
        <div id="fila-inferior" class="row">
           <div class="col-lg-12">

              <!-- Avatar-->
              <div id="vista-avatar" class="row">
                 <div class="col-lg-12">
                   <!-- Primera Fila Avatar -->
                   <div class="row">
                     <div class="col-lg-12">
                        <span class="bg-inverse text-danger">Ataque</span><br>
                        <div class="progress">
                           <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated bar-ataque" role="progressbar"
                           aria-valuenow="{{ jugador.avatar.ataque }}" aria-valuemin="0" aria-valuemax="6" style="width:{{ (jugador.avatar.ataque/6)*100 |int }}%">
                             {{ jugador.avatar.ataque }}
                           </div>
                        </div>

                         <span class="bg-inverse text-danger">Destreza</span><br>
                         <div class="progress">
                           <div class="progress-bar progress-bar-striped bg-info progress-bar-animated bar-destreza"
                           role="progressbar" aria-valuenow="{{ jugador.avatar.destreza }}"
                           aria-valuemin="0" aria-valuemax="6" style="width:{{ (jugador.avatar.destreza/6)*100 |int }}%">
                             {{ jugador.avatar.destreza }}
                           </div>
                        </div>

                         <span class="bg-inverse text-danger">Daño</span><br>
                         <div class="progress">
                           <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated bar-dano" role="progressbar"
              aria-valuenow="{{ jugador.avatar.dano }}" aria-valuemin="0" aria-valuemax="6" style="width:{{ (jugador.avatar.dano/6)*100 |int }}%">
                             {{ jugador.avatar.dano }}
                           </div>
                        </div>

                         <span class="bg-inverse text-danger">Defensa</span><br>
                         <div class="progress">
                           <div class="progress-bar progress-bar-striped bg-success progress-bar-animated bar-defensa" role="progressbar"
              aria-valuenow="{{ jugador.avatar.defensa }}" aria-valuemin="0" aria-valuemax="6" style="width:{{ (jugador.avatar.defensa/6)*100 |int }}%">
                             {{ jugador.avatar.defensa }}
                           </div>
                        </div>

                         <span class="bg-inverse text-danger">Vida</span><br>
                         <div class="progress">
                           <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated bar-vida" role="progressbar"
              aria-valuenow="{{ jugador.avatar.vida }}" aria-valuemin="0" aria-valuemax="{{ jugador.avatar.vidaMax*7 }}" style="width:{{ (jugador.avatar.vida/jugador.avatar.vidaMax)*100 |int }}%">
                             {{ jugador.avatar.vida*7 }}
                           </div>
                        </div>

                         <span class="bg-inverse text-danger">Movimiento</span><br>
                         <div class="progress">
                           <div class="progress-bar progress-bar-striped progress-bar-animated bar-movimiento" role="progressbar"
              aria-valuenow="{{ jugador.avatar.movimiento }}" aria-valuemin="0" aria-valuemax="{{ jugador.avatar.movimientoMax }}" style="width:{{ (jugador.avatar.movimiento/jugador.avatar.movimientoMax)*100 |int }}%">
                             {{ jugador.avatar.movimiento }}
                           </div>
                        </div>
                     </div>
                  </div><!-- Fin Primera Fila Avatar -->
                  <div class="row">
                     <div class="col-lg-12 justify-content-center">
                        <div class="row">
                           <div class="col-lg-4"></div>
                           <div class="col-lg-4">
                              <span class="bg-inverse text-danger">Reliquias: {{ jugador.avatar.nroReliquias }}</span>
                           </div>
                           <div class="col-lg-4"></div>
                        </div>
                        <div class="row">
                           <div class="col-lg-4"></div>
                           <div class="col-lg-4">
                              <span class="bg-inverse text-danger">Monedas: {{ jugador.avatar.monedas }}</span>
                           </div>
                           <div class="col-lg-4"></div>
                        </div>
                        <div class="row">
                           <div class="col-lg-4"></div>
                           <div class="col-lg-4">
                              <span class="bg-inverse text-danger">Herramientas: {{ jugador.avatar.herramientas }}</span>
                           </div>
                           <div class="col-lg-4"></div>
                        </div>
                        <div class="row">
                           <div class="col-lg-4"></div>
                           <div class="col-lg-4">
                              <span class="bg-inverse text-danger">Propiedades: {{ jugador.avatar.nroPropiedades }}</span>
                           </div>
                           <div class="col-lg-4"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div> <!-- Fin Avatar -->

            <!-- Equipo -->
            <div id="vista-equipo" class="row">
               <div class="col-lg-12">
               </div>
            </div>

            <!-- Inventario -->
            <div id="vista-inventario" class="row">
               <div class="col-lg-12">
               </div>
            </div>

            <!-- Propiedades -->
            <div id="vista-propiedades" class="row">
               <div class="col-lg-12">
               </div>
            </div>

            <!-- Jugar -->
            <div id="vista-jugar" class="row">
               <div class="col-lg-12">

               <!-- Estado del movimiento -->
               <div class="row">
                  <div class="col-lg-12">
                     <table class="table table-hover table-inverse">
                       <thead>
                          <tr>
                             <th>
                                Movimiento
                             </th>
                             <th>
                                Dado
                             </th>
                          </tr>
                       </thead>
                       <tbody>
                          <tr>
                             <td>
                                <div class="progress">
                                 <div class="progress-bar progress-bar-striped progress-bar-animated bar-movimiento" role="progressbar"
                                 aria-valuenow="{{ jugador.avatar.movimiento }}" aria-valuemin="0"
                                 aria-valuemax="{{ jugador.avatar.movimientoMax }}"
                                 style="width:{{ (jugador.avatar.movimiento/jugador.avatar.movimientoMax)*100 |int }}%">
                                   {{ jugador.avatar.movimiento }}
                                 </div>
                              </div>
                             </td>
                             <td id="dado-movimiento">
                                4
                             </td>
                          </tr>
                       </tbody>
                    </table>
                  </div>
               </div> <!-- Fin Estado del movimiento -->

                <!-- Botones movimiento -->
                <div class="row">

                   <div class="col-lg-2"></div>
                   <div class="col-lg-8">

                     <!-- Fila 1 -->
                     <div class="row fila-mov">
                       <div class="col-lg-4 col-mov">
                         <button id="btn-m1" type="button" class="btn btn-outline-warning btn-mover">&#8662;</button>
                       </div>
                       <div class="col-lg-4 col-mov">
                         <button id="btn-m2" type="button" class="btn btn-outline-warning btn-mover">&#8657;</button>
                       </div>
                       <div class="col-lg-4 col-mov">
                         <button id="btn-m3" type="button" class="btn btn-outline-warning btn-mover">&#8663;</button>
                       </div>
                     </div>

                     <!-- Fila 2 -->
                     <div class="row">
                       <div class="col-lg-4 col-mov">
                         <button id="btn-m4" type="button" class="btn btn-outline-warning btn-mover">&#8656;</button>
                       </div>
                       <div class="col-lg-4 col-mov">
                       </div>
                       <div class="col-lg-4 col-mov">
                         <button id="btn-m5" type="button" class="btn btn-outline-warning btn-mover">&#8658;</button>
                       </div>
                     </div>

                     <!-- Fila 3 -->
                     <div class="row">
                       <div class="col-lg-4 col-mov">
                         <button id="btn-m6" type="button" class="btn btn-outline-warning btn-mover">&#8665;</button>
                       </div>
                       <div class="col-lg-4 col-mov">
                         <button id="btn-m7" type="button" class="btn btn-outline-warning btn-mover">&#8659;</button>
                       </div>
                       <div class="col-lg-4 col-mov">
                         <button id="btn-m8" type="button" class="btn btn-outline-warning btn-mover">&#8664;</button>
                       </div>
                     </div>

                   </div>
                   <div class="col-lg-2"></div>

                  </div> <!-- Fin Botones movimiento -->

                  <!-- Tabla accion lugar -->
                  <div class="row">
                     <div class="col-lg-12">
                        <table id="tabla-accion-lugar" class="table table-hover table-inverse">
                          <thead>
                             <tr>
                                <th>
                                   Descripción
                                </th>
                                <th>
                                   Acción
                                </th>
                             </tr>
                          </thead>
                          <tbody>
                             <tr>
                                <td>
                                   El mercader del lugar está interesado en ti
                                </td>
                                <td>
                                   <button type="button" class="btn btn-outline-primary btn-mover">Negociar</button>
                                </td>
                             </tr>
                          </tbody>
                       </table>
                     </div>
                  </div><!-- Fin Tabla accion lugar -->

                  <!-- Tabla ocupante lugar -->
                  <div class="row">
                     <div class="col-lg-12">
                        <table id="tabla-ocupante-lugar" class="table table-hover table-inverse">
                          <thead>
                             <tr>
                                <th>
                                   Ocupante
                                </th>
                                <th>
                                   Acción
                                </th>
                             </tr>
                          </thead>
                          <tbody>
                             <tr>
                                <td>
                                   <button type="button" class="btn btn-outline-danger btn-mover">Aztaroth</button>
                                </td>
                                <td>
                                   <button type="button" class="btn btn-outline-primary btn-mover">Negociar</button>
                                   <button type="button" class="btn btn-outline-primary btn-mover">Atacar</button>
                                </td>
                             </tr>
                             <tr>
                                <td>
                                   <button type="button" class="btn btn-outline-danger btn-mover">Wyrm</button>
                                </td>
                                <td>
                                   <button type="button" class="btn btn-outline-primary btn-mover">Atacar</button>
                                </td>
                             </tr>
                          </tbody>
                       </table>
                     </div>
                  </div><!-- Fin Tabla ocupante lugar -->

               </div>
             </div> <!-- Fin Jugar -->

             <!-- Estado partida -->
             <div id="vista-estado" class="row">
                <div class="col-lg-12">
                </div>
             </div>

         </div>
      </div> <!-- Fin Fila Inferior -->

     </div> <!--Fin Izquierda -->

      <!-- Medio -->
      <div id="contenedor-canvas" class="col-lg-8 contenedor-canvas">
         <canvas id="layer1">
        </canvas>
         <canvas id="layer2">
        </canvas>
         <canvas id="layer3">
        </canvas>
      </div>

      <!-- Derecha
      <div class="col-lg-4 panel">
      </div>
      -->
   </div> <!-- Fin Fila del contenido-->

   <!-- Fila Turno-->
   <div class="row fila-turno">
      <div class="col-lg-12 ">
         {% for key, elemento in ordenTurno.iteritems() %}
            <img id="icono-{{ key }}"
            src="/static/img/ico/{{ elemento["icono"] }}.png"
            class="d-inline-block align-top icono-turno"
            title="{{ elemento["nombre"] }}"
            onclick="verAvatar(this)">
         {% endfor %}
      </div>
   </div> <!-- Fin Fila Turno-->

  </body>
</html>
