<!DOCTYPE html>
<html>
  <head>
    <title>Dejavu: ver partidas</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>  
    <link href="static/css/games.css" rel="stylesheet">  
    <script src="static/js/games.js"></script>
  </head>
  
  <body onload="initClock()"> 
    <div class="row contenedor-principal"> 
      <div class="col-lg-12">
        <!-- Logo -->
        <div class="row">
          <div class="col-lg-4">
          </div>
          <div class="col-lg-4">
            <div class="contenedor-logo">              
               <img src="static/img/logo.png" onClick="window.location.replace('/');">              
            </div>           
          </div>      
          <div class="col-lg-4">
          </div>        
        </div>
        <!-- Icono y nombre -->
        <div class="row">
          <div class="col-lg-2">
          </div>
          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-4">
                <img id="img-ico" src="static/img/ico/{{ icono }}.png">
              </div>   
              <div class="col-lg-8 text-center">
                <div id="name" class="text-center">
                  <label class="label-nombre">{{ nombre }}</label>
                </div>                
              </div>               
            </div>
          </div>       
          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-4"></div>
              <div class="col-lg-4 text-center">
                <form action="/new-game" method="get">
                  <button type="submit" class="btn btn-outline-danger">Crear Partida</button>
                </form>
              </div>
              <div class="col-lg-4"></div>
            </div>
          </div>  
          <div class="col-lg-2">
          </div>          
        </div>
        <!-- Tabla con juegos -->
        <div class="row">
          <div class="col-lg-2">
          </div>
          <div class="col-lg-8 tabla">
            <table class="table table-hover table-inverse">
              <thead>
                <tr>
                  <th>Tiempo</th>
                  <th>Creador</th>
                  <th>Nombre</th>
                  <th>#Jugadores</th>
                  <th>Estado</th>
                  <th> </th>
                </tr>
              </thead>
              <tbody>
                {% for key, partida in partidas.iteritems() %}
                <tr>
                  <td> {{ partida.getTime() }} </td>
                  <td> {{ partida.creador.nombre }} </td>
                  <td> {{ partida.nombre }} </td>
                  <td> {{ partida.numeroJugadores }} / {{ partida.numeroJugadoresMax }} </td>
                  <td> {{ partida.estado }} </td>
                  {% if partida.estado == "pendiente" and partida.puedeAddJugador() %}
                  <td> 
                    <form action="/join-player" method="post">
                      <input type="hidden" id="partida" name="partida" value="{{ partida.nombre }}">
                      <button type="submit" class="btn btn-outline-success">Unirse</button> 
                    </form>
                  </td>
                  {% elif partida.estado == "activa" %}
                  <td> <button type="button" class="btn btn-outline-info">Ver</button> </td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>      
          <div class="col-lg-2">
          </div>         
        </div>    
      </div>
    </div>
  </body>
</html>