<!DOCTYPE html>
<html>
  <head>
    <title>Dejavu: mundo oscuro</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>  
    <link href="static/css/index.css" rel="stylesheet"> 
    <script src="static/js/index.js"></script>
  </head>
  
  <body> 
    <div class="row contenedor-principal">      
      <div class="col-lg-4">
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="contenedor-logo">
               <img src="static/img/logo.png" onClick="window.location.replace('/');">
          </div>     
        </div>
        <div class="row">
          <div class="contenedor-formulario">
            <div class="row">
              <div class="col-lg-4"></div>
              <div class="col-lg-4">
               {% if isLoged == True %}
                <img id="img-ico" class="img-ico" src="static/img/ico/{{ icono }}.png">
               {% else %}
                <img id="img-ico" class="img-ico" src="static/img/ico/{{ iconoAleatorio }}.png">
               {% endif %}
                
              </div>
              <div class="col-lg-4"></div>              
            </div>  
           {% if isLoged == True %}
           <div class="form-group text-center">
            <label class="label-nombre">{{ nombre }}</label>
           </div>
           {% else %}
              <div class="form-group text-center"> <!-- Inicio seleccionar iconos -->               
                  <button class="btn btn-outline-danger" type="button" data-toggle="collapse" data-target="#collapseIco" aria-expanded="false" aria-controls="collapseIco">
                    Selecciona un icono
                  </button>                
                <div class="collapse" id="collapseIco">
                  <div class="card card-block">
                    {% for i in range(0,263) %}
                    <div class="row">
                     {% for j in range(0,3) %}
                     <div class="col-lg-4">
                       <img id="{{(3*i)+j+1}}" src="static/img/ico/{{(3*i)+j+1}}.png" onClick="select(this)" class="img-ico-card">
                     </div>
                     {% endfor %}
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div> <!-- Fin seleccionar iconos -->
           {% endif %}
         
           {% if isLoged == True %}
            <div class="form-group text-center">
             <form action="/games" method="get">
               <button type="submit" class="btn btn-outline-success btn-form">Ver Partidas</button>  
             </form>
             <form action="/logout" method="post">
               <button type="submit" class="btn btn-outline-danger btn-form">Cerrar Sesión</button> 
             </form>                           
            </div>         
           {% else %}           
            <form action="/login" method="post">
              <div class="form-group">
                <label class="label-propio" for="nombre"><h4>Nombre</h4></label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresa un nombre" required>
              </div>
              <div class="form-group">                
                <input type="hidden" class="form-control" id="ico" name="ico" value="{{ iconoAleatorio }}" required>
              </div>            
              <div class="form-group text-center">
                <button type="submit" class="btn btn-outline-success btn-form">Ingresar</button>
              </div>
            </form>
           {% endif %}
          </div>  <!-- Fin Contenedor de formulario -->         
        </div>

      </div>
      <div class="col-lg-4">
      </div>      
    </div> 
  </body>
</html>